<div class="popover {{class}}">
  <div class="arrow"></div>
  <div class="emoji-popover-category-tabs">
    <span class="emoji-popover-tab-item" data-tab_name='People'><i class="fa fa-smile-o"></i></span>
    <span class="emoji-popover-tab-item" data-tab_name='Activity'><i class="fa fa-futbol-o"></i></span>
    <span class="emoji-popover-tab-item" data-tab_name='Nature'><i class="fa fa-leaf"></i></span>
  </div>
  <div class="popover-content">
      <div></div>
  </div>
</div>
